*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: fantasy;

}

body{
     display: grid;
     min-height: 100vh;
     place-items: center;
}

.container{
    max-width: 480px;
    height: 280px;
    background-color: rgb(200, 231, 231);
    border-radius: 18px;
    padding: 25px 30px;
    box-shadow: 4px 4px 40px 2px #80b48b;
}

.container.active{
    height: 570px;
}

.container h1{
    text-align: center;
    color:  #a38209;
}

.container .qr-input{
    margin: 25px 0;
}

.qr-input :where(input, button){
    width: 100%;
    height: 45px;
    border: none;
    border-radius: 10px;
}

.qr-input input{
    font-size: 15px;
    padding: 0 20px;
    border: 1px solid #7f7d7d;
}

.qr-input button{
    color:antiquewhite;
    cursor: pointer;
    margin-top: 25px;
    font-size: 15px;
    background: #131a15;
    border: none;
}

.container .saveqr{
    display: inline-block;
    text-decoration: none;
    line-height: 58px;
    background: #7f7d7d;
    color: #fff;
    width: 100%;
    text-align: center;
    cursor: pointer;
    font-size: 20px;
    border: none;
    border-radius: 8px;
}

.container .qr-img{
    margin-bottom: 10px;
    margin-top: 12px;
    opacity: 0;
    display: grid;
    place-items: center;
    padding: 20px 0;
    border: 2px solid rgb(200, 231, 231);
    
    
}
.container .qr-img img{
    width: 150px;
}

.container .saveqr{
    opacity: 0;
}

.container.active .qr-img{
    opacity: 1;
    transition: opacity 0.5s;
}

.container.active .saveqr{
    opacity: 1;
    transform: opacity 10s;
}